// Estilos para manipular los colores del sitio

$bgcolor: rgb(250, 27, 11);
$bgcolor_oscuro: rgb(252, 105, 95);
$colorTitulo: rgb(65, 122, 228);
$colorcuerpo: rgb(0, 0, 0);
$colorHover: rgb(103, 243, 22);
$negro: rgb(0, 0, 0,);
$blanco: rgb(255, 255, 255);
