
@import 'fuentes'; //se importa las fuentes desde la carpeta de sass

@import 'colores'; //colores para textos y fondos desde la carpeta sass

// en este documento se trabajarán los estilos

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{
    background-color: $bgcolor;
    font-size: 1.6rem;
    line-height: 1.5;
}

// estilos globales

p{
    font-size: 2rem;
    font-family: $fuenteCuerpo;
    color: $fuenteCuerpo;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: $colorTitulo;
    font-family: $fuenteTitulo;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.5rem;
}

/* Header */

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/* Footer */
.footer{
    background-color: $bgcolor_oscuro;
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    font-family: $fuenteTitulo;
    font-size: 1.8rem;
}

/* Navegacion */
.navegacion{
    background-color: $bgcolor_oscuro;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace, .navegacion__enlace--activo{
    color: $blanco;
    font-family: $fuenteTitulo;
    font-size: 2rem;
    &:hover{
        color: $colorHover;
        text-shadow: $negro 1px 1px 5px;
    }
}

/** Grid **/
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3,1fr);
        gap: 1.2rem;
    }
}

/** Productos **/
.producto{
    background-color: $bgcolor_oscuro;
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
}

.producto__informacion{
    
}

.producto__nombre{
    font-size: 4rem;
    color: $blanco;
}

.producto__precio{
    font-size: 2.7rem;
}

.producto__nombre, .producto__precio{
    font-family: $fuenteTitulo;
    margin: 1rem;
    text-align: center;
    line-height: 1.2;
}